<h1 class='dogs__headline mdc-typography--headline2'>
    Submit Dog
  </h1>
<form [formGroup]="newDogForm" (ngSubmit)='submitDog()'>
  <div>
    <mat-form-field>
        <mat-label></mat-label>
        <input placeholder="Name" id="name" type="text" formControlName="name">
  </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Nickname" id="nickname" type="text" formControlName="nickname">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Description" id="description" type="text" formControlName="description">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Image URL" id="imgPath" type="text" formControlName="imgPath">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Breeds" id="breeds" type="text" formControlName="breeds">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Weight" id="weight" type="text" formControlName="weight">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Age" id="age" type="text" formControlName="age">
    </mat-form-field>
  </div>

  <button mat-icon-button>Submit dog</button>

</form>

